---
import { Image } from 'astro:assets';
import { howManyDaysAgo } from '../lib/utils'
type Props = {
    data: {
        title: string;
        description: string;
        author: string;
        date: string;
        img: string;
    }
    slug:string
}
const { data:{author,date,description,img,title},slug } = Astro.props;
const before = howManyDaysAgo(date.toString())
---


    <section id="card" class={` border-primary-300/50 dark:border-primary-950  overflow-hidden w-full dark:bg-dark-800 bg-white rounded-xl shadow-sm  flex-col flex justify-between `}>
    <section class="flex flex-col h-full justify-between pt-6">
<section class="flex flex-col gap-4" >

    <a transition:name={slug} href={`/blog/${slug}`} id={`link to ${title}`} title={`link to ${title}`} class="m-0 px-5 text-4xl line-clamp-2 font-bold text-primary-500" >{title}</a>
    <p class=" px-5 line-clamp-5    font-serif text-base dark:text-dark-50 text-light-700 font-bold" >{description}</p>
</section>
 

    </section>

    
    <section class="flex items-center justify-between" >
                <h5 class="m-0 px-5  p-4  text-primary-500 font-bold " >
            <strong class="font-serif text-sm dark:text-dark-100 text-light-500 font-light ">{`Writen By `}</strong>
{author}
        </h5>
        <!-- <Image  width={360} height={200}  class="rounded-none p-0 m-0"  src={img} alt="A bird sitting on a nest of eggs."/> -->
           <h6 class="m-0 px-5  p-4 font-serif text-sm dark:text-dark-100 text-light-500 font-light" >{before}</h6>
    </section>
    </section>
