---
type Props = {
    data: {
        title: string;
        description: string;
        date: string;
        img: string;
        link: string;
        tech:string
    }
    slug: string;
}

const { data:{date,description,img,title,link,tech},slug } = Astro.props;
---

<style>
   /* background image scale and routate while hovering   */
   .anime:hover{
    background-size: 150%;
    background-position-x: right;
   }
   
</style>

<section style={`background:url("/patterns/${title.toLowerCase()}.svg")`}  class=" bg-white group relative w-full sm:h-[200px] h-[300px] rounded-xl dark:bg-dark-800  flex flex-col justify-between p-1 anime ">

    <!-- <img transition:name={slug} src={img} alt={title}> -->
<section class=" bg-white dark:bg-dark-800 flex flex-col  p-4  justify-between flex-1  w-full rounded-xl">
      <a transition:name={slug} href={`/projects/${slug}`} title={`go to the ${title} page `} id={`go to the ${title} page `} class="sm:text-4xl text-5xl text-primary-500">{title}</a>
    <p class="line-clamp-2 sm:text-base text-xl">{description}</p>
    <p class="line-clamp-2 sm:text-base text-xl ">
        Built with : <strong class="text-primary-400">
            {tech} 
        </strong> 
    </p>

    <div 
 class="flex items-baseline justify-between bg-white dark:bg-dark-800">
        <section class="flex gap-2 pt-4 ">
            <a id={`go to ${title} website `} title={`go to ${title} website `} class="font-sans bg-primary-500 font-medium text-dark-950 rounded-xl sm:px-2 sm:p-1 p-2 px-4" target="_blank" href={link} >
               website
            </a>
                    <a href={`/projects/${slug}`} title={`go to the ${title} page `} id={`go to the ${title} page `} class="font-sans font-medium text-light-900  rounded-xl sm:px-2 sm:p-1 p-2 px-4">
               read more
            </a>
        </section>
<section>
    {date}
</section>
    </div>
</section>
</section>