---
type Props = {
    data: {
        title: string;
        description: string;
        date: string;
        img: string;
        link: string;
        tech:string
    }
    slug: string;
}

const { data:{date,description,img,title,link,tech},slug } = Astro.props;
---



<section class=" bg-white group relative w-[330px] h-[440px] rounded-xl dark:bg-dark-800 flex flex-col ">
<section class="p-4 flex justify-between items-center">
    <h3 class="">{title}</h3>
<section>
    {date}
</section>
</section>
<img transition:name={slug} src={img} alt={title}>
<section class=" flex flex-col  p-4  justify-between flex-1  w-full">
    <p class="line-clamp-2">{description}</p>
    <p class="line-clamp-2 text-sm ">
        Built with : <strong class="text-primary-400">
            {tech} 
        </strong> 
    </p>
    <section class="flex gap-2 pt-4">
        <a class="bg-primary-500 text-dark-950 rounded-xl px-2 p-1" target="_blank" href={link} >
           website
        </a>
                <a href={`/projects/${slug}`} class=" text-light-900  rounded-xl px-2 p-1">
           read more
        </a>
    </section>
</section>
</section>