---
import { getCollection } from 'astro:content';
import BlogLayout from '../../layouts/BlogLayout.astro';
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import type { MarkdownHeading } from 'astro';
import { Image } from 'astro:assets';
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectsEntries = await getCollection('projects');
  return projectsEntries.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}


type Props =  {
    entry: {
    id: string;
    slug: string;
    body: string;
    collection: "projects";
    data: {
 title: string;
        description: string;
        date: string;
        img: string;
        link: string;
        tech:string
    };
} & {
    render(): Promise<{
        Content: AstroComponentFactory;
        headings: MarkdownHeading[];
        remarkPluginFrontmatter: {
          minutesRead : string
        }
    }>
}
  }
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content,remarkPluginFrontmatter  } = await entry.render();
console.log(entry.data.img);

---

<BlogLayout title={entry.data.title} description={entry.data.description} >
  <h1 transition:name={entry.slug} >{entry.data.title}</h1>
  <p>
    {entry.data.description}
  </p>
  <!-- <h5 class="pb-6">{remarkPluginFrontmatter.minutesRead}</h5> -->
  <img   src={entry.data.img} class="" alt="this is an image ">
  <Content />
</BlogLayout>